<!DOCTYPE html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?>
    <?- include('../partials/nav') -?>
    <div class="container text-center">
      <h1><?= pageData.title ?></h1>
      <p class="text-secondary">
        นางสาวปฐมพร สัจจมั่น
        <!-- <?= pageData.title ?> -->
      </p>
      <img
        src="https://live-production.wcms.abc-cdn.net.au/85ba7c05ebd9b36cc757b91b9290a2ea?impolicy=wcms_crop_resize&cropH=641&cropW=1140&xPos=0&yPos=89&width=862&height=485"
        class="img-fluid"
        alt="..."
      />
    </div>
    <?- include('../partials/footer') -?>
  </body>
</html>
